.app {
    height:  100vh;
    width:  100vw;
    color: BLACK;   
    opacity: 0.87;
    flex-direction: column ;
}

div{
    display: flex ;
}

.header {
    background-color: pink;
    height: 7vh;
    justify-content: center;   
    font-size: larger;   
}


.body {
    height:  86vh;
    width: 100vw;
}


body{
    margin: 0px;
}


.left{
    background-color: red;
    height:  100%;    
    flex-grow: 1;
    justify-content: center;
    flex-direction: column-reverse;
    
   
}

.center {
    background-color: green;
    height: 86vh;
    width : 960px;
    justify-content: center;
}



.button {    
    background-color: white;    
    color: black;      
    border-radius: 150px ;
    height: 150px;
    width: 150px;
    font-size: medium;
    align-self: center;
    justify-content: center;
    align-items: center; 
} 

label {    
    color: chartreuse;     
    display: block;
    align-self: center;
    padding: 5px;
    text-align: center;    
}

.right{   
    background-color: blue;
    height:  100%;    
    flex-grow: 1;
    justify-content: center;
    flex-direction: column-reverse;
}

.footer{
    background-color: grey;    
    height: 7vh;   
    justify-content: center; 
    font-size: small;
}

 #reset{
  
    background-color: white;
    color: black;    
    border-radius: 30%;
    justify-content: flex-end;    
    align-self: right;
    
 } 

