.app {
    height:  100vh;
    width:  100vw;
    color: BLACK;   
    font-size: large ;
    opacity: 0.87;
    flex-flow: column ;
}

div{
    display: flex ;
}

.header {
    background-color: pink;
    display: block;
    height: 7vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}


.body {
    margin: 0 0 0 0;   
    height:  86vh;
    width: 100vw;

}

body{
    margin: 0px;
}


.left{
    background-color: red;
    height:  100%;    
    flex-grow: 1;
}

.center {
background-color: green;
height: 86vh;
width : 960px;
text-align: center;
justify-content: center;
align-content: center;

}


.button {
    align-self: center;
    justify-content: center;
    background-color: white;
    border: none;
    color: black;    
    font: 16px;
    align-items: center;    
    border-radius: 150px ;
    height: 150px;
    width: 150px;
}

.right{   
    background-color: blue;
    height:  100%;    
    flex-grow: 1;
}

.footer{
    background-color: grey;
    display: block;
    height: 7vh;
    border: 0;
    text-align: center;

}